<% @articles.each do |article| %>
  
<article class="post">
  <section class="post-head">
  
  <a href="/articles/<%= article.id %>">
    <%= article.title %>
  </a>
  </section>

  <section class="post-summary clearfix">
    <%= image_tag article.image.url(:thumb), class: 'img-thumbnail thumb' if article.image? %>
    <%= article.summary %>
  </section>
  <section class="footer-summary">
    <%= raw article.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag tag-primary' }.join(' ') %>
  </section>
</article>
<% end %>

<%== pagy_bootstrap_nav(@pagy)%>



