<h1> Search Result</h1>


    <% @results.each do |result| %>  

  
            <article class="post">
              <section class="post-head">
              
              <a href="/articles/<%= result.id %>">
                <%= result.title %>
              </a>
              </section>
            
              <section class="post-summary clearfix">
                <%= image_tag result.image.url(:thumb), class: 'img-thumbnail thumb' if result.image? %>
                <%= result.summary %>
              </section>
              <section class="footer-summary">
                <%= raw result.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag tag-primary' }.join(' ') %>
              </section>
            </article>
 
    <% end %>

