<h1><%= @article.title %></h1>
<p><%= @article.summary %></p>
<p><%= @article.body %></p>
<br/>
<button type="button" class="btn btn-outline-success">
<%= link_to 'Edit Post', edit_article_path(@article) %>
 </button>


 <button type="button" class="btn btn-outline-success">
<%= link_to 'Delete Post', article_path(@article),
                            method: :delete,
                            data: {confirm: "Do you understand that you are deleting this gorgeous post??"} %>
 </button>
 <br/>


