<h1><%= @tag.name %></h1>

<% if @tag.posts.empty?  %>
  <h2>No posts yet</h2>
<% else %>

  <% @tag.posts.each do |t| %>
  
    <article class="post">
      <section class="post-head">
      
      <a href="/articles/<%= t.id %>">
        <%= t.title %>
      </a>
      </section>
    
      <section class="post-summary clearfix">
        <%= image_tag t.image.url(:thumb), class: 'img-thumbnail thumb' if t.image? %>
        <%= t.body%>
      </section>
      
    </article>
    <% end %>
    
<% end %>