<!DOCTYPE html>
<html>
  <head>
    <title>Your favorite blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br/>
  <h1>Your favorite Blog</h1>
  
  <button type="button" class="btn btn-outline-success">
<%= link_to 'New Post', new_article_path %>
 </button>
    <%= yield %>
  </body>
</html>
